{%- set PYTHON_VERSION = PYTHON_VERSION or "3.12" -%}
{%- set NODE_VERSION = NODE_VERSION or "18" -%}

FROM python:{{ PYTHON_VERSION }}

################################################################################
# Base system
################################################################################

ENV PYTHONUNBUFFERED=1 \
    VIRTUAL_ENV=/usr/local \
    PIP_INSTALL_OPTIONS="--src /usr/local/src"

RUN echo 'alias l="ls -lsah"' > ~/.bashrc \
 && mkdir -p /app/

WORKDIR /app

### DEPENDENCIES 
RUN echo "Install base Debian dependencies..." \
 && apt-get -y update \
 && apt-get -y install apt-transport-https lsb-release vim git curl sudo libpq5 gnupg2 \
 && pip install --upgrade pip setuptools wheel virtualenv

RUN echo "Install NodeJS and YARN..." \
 && curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add - \
 && echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list \
 && curl -sL https://deb.nodesource.com/setup_{{ NODE_VERSION }}.x | bash - \
 && NODEJS_PACKAGE_VERSION=$(apt-cache show nodejs | grep '^Version: {{ NODE_VERSION }}\.' | awk '{print $2}' | head -n1) \
 && echo "NodeJS version: $NODEJS_PACKAGE_VERSION" \
 && apt-get install -y nodejs=$NODEJS_PACKAGE_VERSION yarn
